body {
  margin: 0;
  padding: 0;
  background: rgb(24, 19, 46);
  background: radial-gradient(circle, rgba(24, 19, 46, 1) 0%, rgba(42, 50, 91, 1) 35%, rgba(0, 0, 0, 1) 100%);
  background: url('https://opengameart.org/sites/default/files/bg_space_seamless_1.png');
  padding-top: 2.5rem;
  padding-left: 10%;
  padding-right: 10%;
}

label, h3, p {
  color: white !important;
}

.balances-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #707381;
  padding-bottom: 25px;
}

.balance-container {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 300;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid #89898a;
  margin-right: 1rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.balance-container img {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  margin-top: 5px;
}

.balance-container .coin-symbol {
  margin-left: 0.25rem;
}

.dex {
  border: 1px solid rgba(152, 161, 192, 0.24);
  background-color: rgb(13, 17, 28);
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-image: url('/space-pirate.png');
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 225px;
  min-height: 300px;
}

.dex h2 {
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
}

.swaps-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.swaps-container .icons-container {
  margin-bottom: 1rem;
  display: flex;
  position: relative;
}

.swaps-container .arrow-right-container {
  border: 5px solid rgb(13, 17, 28);
  background-color: rgb(19, 26, 42);
  border-radius: 0.5rem;
  height: 100%;
  z-index: 2;
}

.swaps-container .arrow-right-container:hover {
  cursor: pointer;
}

.swaps-container .arrow-right-container img {
  height: 2rem;
  width: 2rem;
}

.swaps-container .icons-container .swap-from-value {
  border: 1px solid black;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: -0.5rem;
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swaps-container .icons-container img:hover, .swaps-container .icons-container .swap-from-value:hover {
  cursor: pointer;
}

.swaps-container div {
  padding: 0.5rem;
}

.dex .swap-from, .dex .swap-to {
  border-radius: 0.5rem;
  background-color: rgb(19, 26, 42);
  padding: 12px;
  display: flex;
  align-items: center;
}

.coin-name {
  padding: 0; 
  margin: 0;
  margin-bottom: 0.5rem;
}

.dex input {
  background-color: rgb(19, 26, 42);
  border: 1px solid #ffffff1f;
  color: white;
  font-size: 1.5rem;
}

.swap-from, .swap-to {
  z-index: 1;
  margin-right: -0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.swap-from input, .swap-to input {
  width: 100%;
}

.first-coin, .second-coin {
  display: flex;
  flex-direction: column;
}

.second-coin {
  margin-top: 0.5rem;
  border-top: 2px solid rgb(13, 17, 28);
}

.dex .swap-to {
  z-index: 1;
  margin-left: -0.75rem;
}

.dex .swap-button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swap-calculation-container {
  background-color: #ccc;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.create-pair-form {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.swap-calculation-container span {
  font-size: 1.4rem;
}

.increase-reserves-form label {
  color: black !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.admin-switch {
  border-bottom: 1px solid #707381;
  padding-bottom: 25px;
}

.show-admin-panel {
  color: #fff;
  padding-right: 10px;
}